/* Error: Expected whitespace.
 *      ,
 * 1808 | @media screen and(max-width: 600px){
 *      |                  ^
 *      '
 *   scss/style2.scss 1808:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a      \2577 \a 1808 \2502  @media screen and(max-width: 600px){\a      \2502                   ^\a      \2575 \a   scss/style2.scss 1808:18  root stylesheet";
}
